<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_rosbag_loader" name="rovio" output="screen">
    <param name="filter_config" value="$(find vio_hardware)/config/rovio.info"/>
    <param name="camera0_config" value="$(find vio_hardware)/config/rovio_cam0.yaml"/>
    <param name="rosbag_filename" value="/home/tfanselo/projects/20190126_vio_hardware/logs/vio_calibration_log_2019-02-01-18-13-28.bag"/>
    <param name="imu_topic_name" value="/vio_hardware/imu"/>
    <param name="cam0_topic_name" value="/vio_hardware/image_timestamp_corrected"/>
  </node>
</launch>
