<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <arg name="visualise" default="false" />
  <arg name="" default="false" />
  <node pkg="rovioli" type="rovioli" name="rovioli" output="screen" args="
    --alsologtostderr=1 \
    --v=2 \ 
    --ncamera_calibration=$(find vio_hardware)/config/maplab/ncamera_calibration.yaml \
    --imu_parameters_maplab=$(find vio_hardware)/config/maplab/imu_parameters_maplab.yaml \
    --imu_parameters_rovio=$(find vio_hardware)/config/maplab/imu_parameters_rovio.yaml \
    --datasource_type=rostopic \
    --vio_camera_topic_suffix=''
    --save_map_folder=/tmp/rovioliOutput \
    --map_builder_save_image_as_resources=false \
    --optimize_map_to_localization_map=false
    --detection_visualize_keypoints
    --feature_tracker_visualize_feature_tracks
    --feature_tracker_visualize_keypoint_matches
    --feature_tracker_visualize_keypoints
    --feature_tracker_visualize_keypoints_individual_frames
    --publish_debug_markers
    --rovioli_visualize_map
    --vio_localization_map_folder=/home/tfanselo/projects/20190126_vio_hardware/maps/firstRunOptimised/
    "
  />
  <include file="$(find vio_hardware)/launch/rovioli_rviz.launch" if="$(eval visualise)" />
</launch>
